$primary-color: #8DDFCB;
$primary-light-color: #6daea3;
$secondary-color: #EDB7ED;
$secondary-light-color: #b590bd;
$error-color: #FF8787;
$error-light-color: #c26c70;
$success-color: #BCE29E;
$success-light-color: #90b081;
$bg-color: #0D1D2C;
$text-color: #F8EDEB;